$b24-appbar-color: lightgrey !default;
$b24-appbar-active: #e7e6e938 !default;
$b24-appbar-active-color: white !default;
$b24-appbar-background: #f7f7f8 !default;

$b24-sidebar-large-width: 220px !default;
$b24-sidebar-small-width: 60px !default;
